.add_container{
    display: flex;
}

.add_input_wrapper{
    width: 600px;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.add_input_wrapper input{
    width: 80%;
    height: 44px;
    margin: 30px 0px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #333333;
    text-indent: 10px;
    transition: 0.3s;
}

.add_select{
    width: 80%;
    height: 44px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 30px 0px;
    border: 1px solid #333333;
}

.add_select:focus{
    box-shadow: 0px 0px 5px dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 0px;
    transition: 0.3s;
}

.add_input_wrapper input:focus{
    box-shadow: 0px 0px 5px dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 0px;
    transition: 0.3s;
}

.add_product_btn{
    width: 80%;
    height: 44px;
    margin-top: 50px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: #fff;
    font-size: 20px;
    font-weight: 550;
    border-radius: 10px;
    transition: 0.3s;

}

.add_product_btn:hover{
    border-radius: 0px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px dodgerblue;
}